#Requirements
----------------------------------------------------------------
DEPENDENCIES
----------------------------------------------------------------
Windows (Recommended) / Linux
Python 3.5 (+)

----------------------------------------------------------------
Librarys
----------------------------------------------------------------
sklearn
PIL
Tensorflow
numpy
matplotlib
click
zipfile
urlib
